@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap.scss';

body{
    font-family: "Source Sans", sans-serif;
    background-color: $primary;
  }
  
  .navbar{
    color: #000000
  }
  
  .nav-link{
    color: #000000;
    text-decoration: none;
  }

  .abbinder{
      font-family: "Oswald";
      font-weight: 700;
      background-color: $light;
      text-align: center;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 0.5rem 1rem
  }

  .btn{
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 0;
      border: 1px solid $dark;

      &:hover{
        background-color: $primary;
        color: $dark;
      }
  }


  .btn-container:hover .overlay{
      opacity: 1;
  }

  .btn-container{
    width: 80%;
    height: auto;


    .overlay {
        position: absolute;
        top: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 450px;
        height: 100px;
        opacity: 0;
        transition: .5s ease;
        background-color: $primary;
      }
  }

  @include media-breakpoint-up(lg){
      .btn-container{
        width: 450px;
        height: 300px;
      }

}


.impressum a{
    color: $dark;
}