@import "variables";
@import 'node_modules/bootstrap/scss/bootstrap.scss';

body{
    font-family: "Source Sans", sans-serif;
    background-color: $primary;
  }
  
  .navbar{
    color: $dark
  }
  
  .nav-link{
    color: $dark;
    text-decoration: none;
  }

  .font-oswald{
    font-family: "Oswald", sans-serif;
  }

  .text-uppercase{
    text-transform: uppercase;
  }

  .headline{
      transform: rotate(357deg);
      font-size: 3.5rem;
      min-width: 357px;
      max-width: 400px;
  }

  .header-container{
      max-height: 200px;
  }

  .logo-container{
      max-width: 300px;
  }

  .abbinder{
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      background-color: $light;
      text-align: center;
      font-size: 1.25rem;
      text-transform: uppercase;
      padding: 0.5rem 0.6rem;
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
  }

  .btn{
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 0;
      border: 1px solid $dark;

      &:hover{
        background-color: $primary;
        color: $dark;
      }
  }


  .btn-container:hover .overlay{
      opacity: 1;
  }


    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .2s ease;
      }
  

  @include media-breakpoint-up(lg){
    .abbinder{
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        max-width: 100%
    }
}

.impressum a{
    color: $dark;
}

.dsgvo {
    p{
        margin: 1.5rem 0 1.5rem
    }
    h2, h3{
        font-size: 1.6rem;
    }
}

.download-link:hover a{
    text-decoration: none;
    color: #ffffff;
}

.custom-anchor{

    text-decoration: none;
    color: $dark;

    &:hover{
        color: $light;
        text-decoration: none;
    }
    
}

footer a:hover {
    text-decoration: none;
    color: $dark;
}

